{
  "openapi": "3.1.0",
  "info": {
    "title": "Bitmonie REST API Reference",
    "version": "1.0.0",
    "description": "Complete internal developer documentation for Bitmonie mobile apps and web frontend services. All authenticated endpoints require a Bearer token in the `Authorization` header (`Authorization: Bearer <token>`)."
  },
  "servers": [
    {
      "url": "https://api.bitmonie.com",
      "description": "Production Server"
    },
    {
      "url": "https://sandbox.bitmonie.com",
      "description": "Sandbox / Staging Server"
    },
    {
      "url": "http://127.0.0.1:8000",
      "description": "Local Development Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Enter the Bearer token returned from login or registration."
      }
    },
    "schemas": {
      "StandardSuccessEnvelope": {
        "type": "object",
        "properties": {
          "message": {
            "type": "object",
            "properties": {
              "success": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "type": {
            "type": "string",
            "example": "success"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "StandardErrorEnvelope": {
        "type": "object",
        "properties": {
          "message": {
            "type": "object",
            "properties": {
              "error": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "type": {
            "type": "string",
            "example": "error"
          },
          "data": {
            "type": "null",
            "example": null
          }
        }
      }
    }
  },
  "paths": {
    "/api/user/register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register New User",
        "description": "Create a new user account. On success, returns auth token and triggers email verification code.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstname": {
                    "type": "string",
                    "example": "John"
                  },
                  "lastname": {
                    "type": "string",
                    "example": "Doe"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "Password123@"
                  },
                  "password_confirmation": {
                    "type": "string",
                    "example": "Password123@"
                  },
                  "country": {
                    "type": "string",
                    "example": "Nigeria"
                  },
                  "mobile": {
                    "type": "string",
                    "example": "08012345678"
                  },
                  "referral_code": {
                    "type": "string",
                    "example": "REF12345"
                  }
                },
                "required": [
                  "firstname",
                  "lastname",
                  "email",
                  "password",
                  "password_confirmation"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Operation completed successfully."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "example": "1|abc123token..."
                        },
                        "user": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1
                            },
                            "firstname": {
                              "type": "string",
                              "example": "John"
                            },
                            "lastname": {
                              "type": "string",
                              "example": "Doe"
                            },
                            "email": {
                              "type": "string",
                              "example": "user@example.com"
                            },
                            "email_verified": {
                              "type": "boolean",
                              "example": false
                            },
                            "kyc_verified": {
                              "type": "integer",
                              "example": 0
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Invalid parameters provided."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (401)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Unauthenticated."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error (422)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "The given data was invalid."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error (500)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Internal server error occurred."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "User Login (Email & Password)",
        "description": "Authenticate user via email and password credentials.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "Password123@"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Operation completed successfully."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "example": "2|xyz456token..."
                        },
                        "user": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Invalid parameters provided."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (401)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Unauthenticated."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error (422)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "The given data was invalid."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error (500)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Internal server error occurred."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/login-with-pin": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "User Login with Quick PIN",
        "description": "Authenticate an existing user session using a 6-digit login PIN.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "pin": {
                    "type": "string",
                    "example": "123456"
                  }
                },
                "required": [
                  "email",
                  "pin"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Operation completed successfully."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "example": "3|quickpintoken..."
                        },
                        "user": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Invalid parameters provided."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (401)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Unauthenticated."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error (422)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "The given data was invalid."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error (500)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Internal server error occurred."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/password/forgot/find/user": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Forgot Password - Find User & Send Code",
        "description": "Locate user account by email and dispatch a password reset code.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "credentials": {
                    "type": "string",
                    "example": "user@example.com"
                  }
                },
                "required": [
                  "credentials"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Operation completed successfully."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Invalid parameters provided."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (401)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Unauthenticated."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error (422)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "The given data was invalid."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error (500)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Internal server error occurred."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/password/forgot/verify/code": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Forgot Password - Verify Reset Code",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "example": "123456"
                  },
                  "token": {
                    "type": "string",
                    "example": "reset_token_hash"
                  }
                },
                "required": [
                  "code"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Operation completed successfully."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Invalid parameters provided."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (401)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Unauthenticated."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error (422)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "The given data was invalid."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error (500)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Internal server error occurred."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/password/forgot/reset": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Forgot Password - Reset Password",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "example": "123456"
                  },
                  "token": {
                    "type": "string",
                    "example": "reset_token_hash"
                  },
                  "password": {
                    "type": "string",
                    "example": "NewPassword123@"
                  },
                  "password_confirmation": {
                    "type": "string",
                    "example": "NewPassword123@"
                  }
                },
                "required": [
                  "code",
                  "password",
                  "password_confirmation"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Operation completed successfully."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Invalid parameters provided."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (401)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Unauthenticated."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error (422)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "The given data was invalid."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error (500)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Internal server error occurred."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/authorize/mail/send/code": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Send Email Verification Code",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Operation completed successfully."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Invalid parameters provided."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (401)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Unauthenticated."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error (422)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "The given data was invalid."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error (500)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Internal server error occurred."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/authorize/mail/verify/code": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify Email Verification Code",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "example": "481920"
                  }
                },
                "required": [
                  "code"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Operation completed successfully."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Invalid parameters provided."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (401)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Unauthenticated."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error (422)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "The given data was invalid."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error (500)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Internal server error occurred."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Logout User",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Operation completed successfully."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Invalid parameters provided."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (401)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Unauthenticated."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error (422)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "The given data was invalid."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error (500)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Internal server error occurred."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/fcm-token/update": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Update Push Notification FCM Device Token",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "example": "fcm_device_token_xyz..."
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Operation completed successfully."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Invalid parameters provided."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (401)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Unauthenticated."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error (422)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "The given data was invalid."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error (500)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Internal server error occurred."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/notifications": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Get User Notifications List",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Operation completed successfully."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "notifications": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "message": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Invalid parameters provided."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (401)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Unauthenticated."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error (422)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "The given data was invalid."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error (500)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Internal server error occurred."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/profile/info": {
      "get": {
        "tags": [
          "Profile & KYC"
        ],
        "summary": "Get User Profile & Verification Status",
        "description": "Returns full user profile details including KYC status tier and masked BVN (`222******34`) if verified.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Operation completed successfully."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user_info": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1
                            },
                            "firstname": {
                              "type": "string",
                              "example": "John"
                            },
                            "lastname": {
                              "type": "string",
                              "example": "Doe"
                            },
                            "email": {
                              "type": "string",
                              "example": "john@example.com"
                            },
                            "mobile": {
                              "type": "string",
                              "example": "+2348012345678"
                            },
                            "kyc_verified": {
                              "type": "integer",
                              "example": 1,
                              "description": "0=Unverified, 1=Verified (Tier 1), 2=Pending, 3=Rejected"
                            },
                            "bvn_verified": {
                              "type": "boolean",
                              "example": true
                            },
                            "masked_bvn": {
                              "type": "string",
                              "example": "222******34",
                              "description": "Masked BVN for display. Full BVN is securely stored on the backend."
                            },
                            "two_factor_verified": {
                              "type": "boolean",
                              "example": false
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Invalid parameters provided."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (401)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Unauthenticated."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error (422)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "The given data was invalid."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error (500)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Internal server error occurred."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/profile/info/update": {
      "post": {
        "tags": [
          "Profile & KYC"
        ],
        "summary": "Update Profile Details",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstname": {
                    "type": "string",
                    "example": "John"
                  },
                  "lastname": {
                    "type": "string",
                    "example": "Doe"
                  },
                  "mobile": {
                    "type": "string",
                    "example": "08012345678"
                  },
                  "address": {
                    "type": "string",
                    "example": "123 Victoria Island"
                  },
                  "city": {
                    "type": "string",
                    "example": "Lagos"
                  },
                  "state": {
                    "type": "string",
                    "example": "Lagos"
                  },
                  "zip": {
                    "type": "string",
                    "example": "100001"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Operation completed successfully."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Invalid parameters provided."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (401)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Unauthenticated."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error (422)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "The given data was invalid."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error (500)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Internal server error occurred."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/profile/password/update": {
      "post": {
        "tags": [
          "Profile & KYC"
        ],
        "summary": "Change User Password",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "current_password": {
                    "type": "string",
                    "example": "OldPass123@"
                  },
                  "password": {
                    "type": "string",
                    "example": "NewPass123@"
                  },
                  "password_confirmation": {
                    "type": "string",
                    "example": "NewPass123@"
                  }
                },
                "required": [
                  "current_password",
                  "password",
                  "password_confirmation"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Operation completed successfully."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Invalid parameters provided."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (401)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Unauthenticated."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error (422)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "The given data was invalid."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error (500)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Internal server error occurred."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/kyc-input-fields": {
      "get": {
        "tags": [
          "Profile & KYC"
        ],
        "summary": "Get Required KYC Input Fields",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Operation completed successfully."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "input_fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "bvn"
                              },
                              "label": {
                                "type": "string",
                                "example": "Bank Verification Number"
                              },
                              "type": {
                                "type": "string",
                                "example": "text"
                              },
                              "required": {
                                "type": "boolean",
                                "example": true
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Invalid parameters provided."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (401)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Unauthenticated."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error (422)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "The given data was invalid."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error (500)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Internal server error occurred."
                          ]
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "error"
                    },
                    "data": {
                      "type": "null",
                      "example": null
[...]
